.more-projects-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 0;
    margin-right: auto;
    border-radius: 10px;
  }
  
  .arrow {
    background-color: rgba(0, 0, 0, 0.5);;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-content {
    flex: 1;
    max-width: 120%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .carousel-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .project-a-img {
    width: 90%;
  }
  
  .project-a-img img {
    width: 100%;
    height: 52.9vh;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .project-info {
    width: 100%;
    text-align: left;
    margin-bottom: auto;
    background-color: #f0f9ff;
    padding: 10px;
    height: 50vh;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .project-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
    text-align: center;
    margin-top: auto;
  }
  
  .project-info p {
    font-size: 16px;
    color: #666666;
  }
  
  .project-info a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .project-info a:hover {
    background-color: #0056b3;
  }
  
  .left-arrow {
    margin-right: 20px;
  }
  
  .right-arrow {
    margin-left: 20px;
  }

  .btn-add-itech {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0 0;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .btn-add-itech p{
    color: #fff;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 250;
  }
  .btn-add-itech:hover {
    margin-right: 0;
  }
  
  .btn-addtech {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  margin-top: 14rem;
}

.pagination-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-dot.active {
  background-color: #333;
}